<% if card_size == :g %>

  <%= link_to external_proposal_proposals_path(external_proposal["reference"], url: external_proposal["source"]), class: "card__grid-external", id: external_proposal["reference"] do %>
    <div class="card__grid-img">
        <%= external_icon "media/images/placeholder-card-g.svg", class: "card__placeholder-g" %>
        <p class="card__grid-img-text"><%= t('.view_from', platform: display_host(external_proposal["source"])) %></p>
    </div>
    <div class="card__grid-text">
      <div class="card__grid-text-title">
        <%= content_tag :h4, external_proposal["title"], class: "h4 text-secondary" %>
        <% if external_proposal["metadata"]["state"]["state"].present? %>
          <%= external_state_item(external_proposal["metadata"]["state"]) %>
        <% end %>
      </div>
    </div>
    <div class="card__list-metadata">
      <div class="card__grid-author">
        <div class="author__avatar-container">
          <img alt="default avatar" class="author__avatar" src="<%= asset_pack_path("media/images/default-avatar.svg") %>">
        </div>
        <p class="author_name"><%= @authors.select{|author| external_proposal["authors"].include?(author["reference"])}.map{|author| author["name"]}.join(', ') %></p>
      </div>
      <div class="mb-3">
        <%= icon("wechat-line") %>
        <p><%= external_proposal["children"].count %></p>
      </div>
    </div>
  <% end %>
<% else %>
  <%= link_to external_proposal["source"], class: "card__list", id: external_proposal["reference"] do %>
    <%= content_tag(:div, class: "card__list-content") do %>
      <%= content_tag :h4, class: "h4 card__list-title" do %>
        <%= external_proposal["title"] %>
      <% end %>
      <p>Proposal from external platform</p>
    <% end %>
  <% end %>
<% end %>
